.header{
    padding: 42px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: auto;
    width: 1312px;
}
.nav-list{
    display: flex;
    column-gap: 60px;
}
.header-links{
    display: flex;
    column-gap: 60px;
    align-items: center;
}
.user-btn{
    border: 1px black solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-btns{
    display: flex;
    align-items: center;
    column-gap: 56px;
}
